.send-sec:hover .sec-two{
    border-radius: 5px;
    color: black;
    background-color: white;
    padding: 2px 5px;
}


.sec-two{
    padding: 2px 5px;
    border-radius: 5px;
}

.box {
    background: rgba(255, 255, 255, 0.322);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #29529f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    color: red;
}

.body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url(./image/bitcoin.webp);
    background-repeat: no-repeat;
    background-size: cover;
}








.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
}


.hamburger{
    border: none;
    cursor: pointer;
    margin: 20px;
}
.nav{
    box-shadow: 3px 3px 5px white;
    background-color: #29529f;
    display: none;
    top: 0;
    position: absolute;
}

.nav.active{
    display: block;
}

